<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


  <link rel="stylesheet" href="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/css/compare.css"> 
  
  <link href="https://fonts.googleapis.com/css?family=Lato|Poppins&display=swap" rel="stylesheet">
  <title>College Comparison Page</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h2 class="navbar-brand">Comparison Bolt</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/templates/MainPage.html">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/templates/about.html">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/templates/contact.html">Contact us</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <section class="Collegeh-comparison">
   
    <div class="Collegeh-column">
      <div class="Collegeh-header">
        <div class="Collegeh">
          <div class="collegeh-name">
            <input type="text" placeholder="Search...">
            <span class="searchh">
              <i class="uil uil-search search-icon"></i>
            </span>
          </div>

          <div class="per-month">
            <button class="cta">Search</button>
          </div>
        </div>
        <div class="plan-name">Searched college name</div>
      </div>
      <div class="dividerr"></div>
      <div class="featuree">
        <img src="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/img/img1.jpg">
        College Faculties
      </div>
      <div class="featuree">
        <img src="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/img/img2.jpg">
        College Infrastructure
      </div>
      <div class="featuree">
        <img src="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/img/img1.jpg">
        Placement
      </div>
      <div class="featuree">
        <img src="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/img/img2.jpg">
        Fees
      </div>
      <div class="featuree ">
        <img src="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/img/img1.jpg">
        Admission process
      </div>
      <div class="featuree">
        <img src="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/img/img2.jpg">
        Location
      </div>
      <button class="cta">Go to the main website</button>
    </div>
    <div class="Collegeh-column popular">
      <div class="Collegeh-header">
        <div class="Collegeh">
          <div class="collegeh-name">
            <input type="text" placeholder="Search">
            <span class="searchh">
              <i class="uil uil-search search-icon"></i>
            </span>
          </div>
          <div class="per-month">
            <button class="cta">Search</button>
          </div>
        </div>
        <div class="plan-name">Searched college name</div>
      </div>
      <div class="dividerr"></div>
      <div class="featuree">
        <img src="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/img/img1.jpg">
        College Faculties
      </div>
      <div class="featuree">
        <img src="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/img/img2.jpg">
        College Infrastructure
      </div>
      <div class="featuree">
        <img src="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/img/img1.jpg">
        Placement
      </div>
      <div class="featuree">
        <img src="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/img/img2.jpg">
        Fees
      </div>
      <div class="featuree ">
        <img src="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/img/img1.jpg">
        Admission process
      </div>
      <div class="featuree">
        <img src="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/img/img2.jpg">
        Location
      </div>
      <button class="cta">Go to the main website</button>
    </div>
    <div class="Collegeh-column">
      <div class="Collegeh-header">
        <div class="Collegeh">
          <div class="collegeh-name">
            <input type="text" placeholder="Search">
            <span class="searchh">
              <i class="uil uil-search search-icon"></i>
            </span>
          </div>
          <div class="per-month">
            <button class="cta">Search</button>
          </div>
        </div>
        <div class="plan-name">Searched college name</div>
      </div>
      <div class="dividerr"></div>
      <div class="featuree">
        <img src="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/img/img1.jpg">
        College Faculties
      </div>
      <div class="featuree">
        <img src="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/img/img2.jpg">
        College Infrastructure
      </div>
      <div class="featuree">
        <img src="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/img/img1.jpg">
        Placement
      </div>
      <div class="featuree">
        <img src="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/img/img2.jpg">
        Fees
      </div>
      <div class="featuree">
        <img src="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/img/img1.jpg">
        Admission process
      </div>
      <div class="featuree">
        <img src="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/img/img2.jpg">
        Location
      </div>
      <button class="cta">Go to the main website</button>
    </div>
  </section>

</body>

</html>