<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/css/signup.css">
    <title>Signup_page</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark xyz">
        <h2 class="navbar-brand">Comparison Bolt</h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/templates/MainPage.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/templates/Comparison.html">Compare colleges</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/templates/about.html">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/templates/contact.html">Contact us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="forms-container">
            <div class="signup-signup">
                <form action="#" class="sign-up-form">
                    <h2 class="title">Sign Up</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="First Name" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Last Name" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="email" placeholder="Email" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-mobile"></i>
                        <input type="number" placeholder="Mobile Number" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-angles-right"></i>
                        <input type="text" placeholder="Interested field" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Confirm Password" />
                    </div>
                    <input type="submit" class="btn" value="Register">
                </form>
            </div>
           
        </div>
        <img class="image" src="C:/Users/ashvi/OneDrive/Desktop/MINOR1.1/New_start/static/img/draw1.webp" alt="">
    </div>
</body>

</html>